---
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;
---

<BaseLayout>
<div class="container">
  <img src={frontmatter.banner.url} width= 100% alt={frontmatter.image.alt} />
  <div class="centered">
    {frontmatter.banner.title}</div>
</div> 

<p>Written by {frontmatter.author}</p>
<p><em>{frontmatter.description}</em></p>
<div class="tags">
    {frontmatter.tags.map((tag) => (
      <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
    ))}
</div>

<slot/>
<img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />


<style>
    a {
      color: #00539F;
    }
  
    .tags {
      display: flex; 
      flex-wrap: wrap; 
      margin: 0 auto;  
    }
  
    .tag {
      margin: 0.25em;
      border: dotted 1px #a1a1a1;
      border-radius: .5em;
      padding: .5em 1em;
      font-size: 1.15em;
      background-color: #F8FCFD;
    }

    .centered {
      font-size:xx-large;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  </style>
  </BaseLayout>